*{
  margin:0;
  padding:0;
}
.App{
  display:flex;
  justify-content: center;
}

.card{
  position: relative;
  width:80%;
  height: 250px;
  border:1px solid;
  padding: 5px;
  display: flex;

}
.left-part{
  display: inline-block;
  height: 100%;
  position: relative;
  width: 20%;
  margin-right: 3px;
  /* border:1px solid; */
  padding: 5px;
  box-sizing: border-box;
}
.poster{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-part{
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid; */
}
.title{
  padding:5px ;
  /* border:1px solid; */
}
.description{
  width: 90%;

  /* border:1px solid; */
  text-transform: capitalize;
  text-align: justify;
  padding: 5px;
}
.price{
  font-weight: 700;
  max-height: 25px;
  /* border:1px solid; */
  display: flex;
  align-items: center;
  padding:5px;
}
.footer{
  width: 100%;
  height: 20%;
  /* border: 1px solid; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}
.star{
  display:flex;
  align-items: center;

}
.star-icon{
  width: 30px;
  height: 30px;
}

.minus-btn{
  width: 10px;
  height: 10px;
}
.plus-btn{
  width: 10px;
  height: 10px;
}
.star  span {
  width: 30px;
  height: 28px;
  font-size: x-large;
  font-weight: 500;
  margin-left:5px;

}
.btn{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.fav-btn , .add-to-cart-btn ,.un-fav-btn , .remove-btn{
  padding:5px 10px 5px 10px;
  border-radius: 5px;
}

.un-fav-btn{
  background-color: black;
  color: white;
}
.remove-btn{
  background-color: rgb(101, 97, 97);
  color: white;
}